<h1>Escolha uma opção</h1>

<main>
    <div class="container-home1">
    <a href="/users/shows">Visualizar Usuários</a>
</div>

<div class="container-home2">
    <a href="/livros/shows">Visualizar Livros</a>
</div>
</main>