<h1>Adicionar livro</h1>
<form action="/livro/create" method="post" class="form">

    <div class="form_control">
        <label for="autor">Nome do autor:</label>
        <input type="text" name="autor" placeholder="Digite o nome do autor">
    </div>

    <div class="form_control">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" placeholder="Digite o título">
    </div>

    <div class="form_control">
        <label for="preco">Preço:</label>
        <input type="number" name="preco" placeholder="Digite o preço">
    </div>

    <div class="form_control form-checkbox">
        <input type="checkbox" name="capaDura" checked>
        <label for="capaDura">Capa dura?</label>
    </div>


    <div class="form_control">
        <input type="submit" value="Cadastrar">
    </div>
</form>